@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
  background-color: #3179d8;
  background-image: linear-gradient(rgba(247, 231, 7, 0.5), rgba(0, 0, 0, 0.5)), url('images/indexbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 10px;
}


.header{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.text-header{
  margin-top: 20px;
  font-size: 1.9rem;
}

.text-header2{
  font-size: 1.37rem;
  font-weight: 500;
}


.logo {
    margin-top: 5%;
    max-width: 50%; ; 
}

.title{
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20%;
  font-size: 1.09rem;
}

.wrapper {
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
  background: rgba(191, 213, 221, 0.295); /* Adjust the last value (alpha) for transparency */
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adjust the values for shadow spread, blur, and opacity */
  margin-top: 10%;
}

.wrapper form{
  width: 100%;
  display: flex;
  justify-content: center;  
  margin-bottom: 20px;
     
}


#second-Label{
  margin-left: 141px;
 
}

.field-input{
    display: flex;
    flex-direction: column;
}

#login{
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 150px;
    margin-left: 90px;
    margin-top: 20px;
    
}

.labels{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    
    
}

.type{
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
  
}

.type a{
    text-decoration: none;
  color: #000000;
  border: solid #212e7a 1px;
  padding-left: 55px;
    padding-right: 55px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 0.9rem;
  border-radius: 5px;
}

.type i{
    display: flex;
    justify-content: center;
}

#reg{
    font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #000000;
}



