@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    
    padding: 0 10px;
}

.header{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}




.logo {
    margin-top: 5%;
    max-width: 30%; 
    margin-bottom: 5%;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 5%;
  
}

.wrapper{
  border-radius: 5px;
  max-width: 450px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  padding: 30px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  margin-top: 100px;
}

.wrapper form{
  width: 100%;
  display: flex;
  justify-content: center;  
  margin-bottom: 20px;
     
}


#second-Label{
  margin-left: 141px;
 
}

.field-input{
    display: flex;
    flex-direction: column;
}

#login{
    background-color: #1935DA;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 150px;
    margin-left: 90px;
    margin-top: 20px;
    
}

.labels{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    
    
}

.type{
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
  
}

.type a{
    text-decoration: none;
  color: #1935DA;
  border: solid #1935DA 1px;
  padding-left: 55px;
    padding-right: 55px;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: 0.9rem;
  border-radius: 5px;
}

.type i{
    display: flex;
    justify-content: center;
}

#reg{
    font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #1935DA;
}



